# Default ignored files
/shelf/
/workspace.xml
# Rider ignored files
/contentModel.xml
/projectSettingsUpdater.xml
/modules.xml
/.idea.CodeSamples.iml
# Datasource local storage ignored files
/../../../../../../:\Systems\CodeSamples\.idea\.idea.CodeSamples\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
